@ligthGrey : #aaa;

#myDrawingsContainer {
    margin: 40px 10px;
    padding: 5px;
    .userName {
        font-size: 20px;
        font-weight: bold;
    }
    .myDrawingLists {
        border-bottom-width: 1px;
        border-bottom-color: @ligthGrey;
        margin-top: 10px;
        list-style: none;
        font-size: 17px;
        font-family: Apple SD Gothic Neo, "Apple SD \C0B0\B3CC\ACE0\B515   Neo",
        "\B9D1\C740   \ACE0\B515", Malgun Gothic, ng, sans-serif;

        .myDrawingEachListTitle {
            font-weight: bold;
        }
        .myDrawingEachListDes {
            color: @ligthGrey;
        }
    }
}