@colors: Crimson, DarkOrange, SeaGreen, Navy, Peru, HotPink, SlateGray, red;

.NearbyFactorItem {
  width: 100%;
  height: 35px;
  color: #666;
  display: flex;
  overflow: auto;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;

  .factorName {
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .colorCircle {
      margin-left: 4px;
      margin-right: 4px;
      width: 7px;
      height: 7px;
      border-radius: 10px;
    }
  }
  .titleName {
    width: 75%;
    padding-left: 10px;
    box-sizing: border-box;
  }
}
.NearbyFactorItem:last-child {
  border-bottom: 0;
}