@toolboxColor: #fff;

#toolbox {
  position: absolute;
  background: @toolboxColor;
  top: 240px;
  right: 15px;
  z-index: 1;
  width: 300px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

  #tabMenu {
    font-size: 15px;
    font-weight: bold;
  }
  .eachTabMenu {
    width: 50%;
    text-align: center;
    border-radius: 10px 0 0 0;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: Apple SD Gothic Neo, sans-serif;
  }
  .drawing {
    border-radius: 0 10px 0 0;
  }
}
