#toolbox{
    position: absolute;
    background: pink;
    top: 120px;
    right: 10px;
    z-index:1;
    width: 15%;
    height: 70vh;
}

button{
    width:100px;
    padding: 10px;
    margin: 5px;
}